/*リンクや画像の高さを制限する*/
div[aria-labelledby*="id"]:has(a) * {
    max-height: 160px;
}

/*ホバーしたときに出るカードが邪魔*/
div[data-testid = "HoverCard"] {
    display: none;
}

/*昔はコレで広告を除去していたと思うのだが……*/
div[data-testid = "cellInnerDiv"]:has([data-testid = "placementTracking"]) {
    display: none;
}